.bg-container {
  background-color: #0f172a;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.main-heading {
  color: #ffffff;
  font-family: roboto;
  font-size: size;
  font-weight: bold;
}
.image {
  height: 130px;
  width: 130px;
}
